/* changed style for:
      new colors of columns for past,present,future
      turned date header and time-block font to bold
      changed text color on description to white
      changed color of save=button to black
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  font-weight:bolder ;
  text-align: center;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d380;
  color: white;
}

.present {
  background-color: #ff00d4;
  color: white;
}

.future {
  background-color: #505c99;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #000000;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#currentDay {
  font-weight: bolder;
}